<div class="jumbotron main-header text-center">
  <h1>Welcome to Localize<% if user_signed_in? %>
                            <%= current_user.first_name.capitalize %>
                          <% end %>!
  </h1>
  <h3>Create a beautiful single page website for your small business with only a few clicks!</h3><br>
  <% if user_signed_in? %>
    <%= button_tag "Check Out Other Businesses", :type => 'button', :class => "btn btn-lg btn-info", :onclick => "location.href = '#{companies_path}'" %>
  <% else %>
    <%= button_tag "Check Out Localize", :type => 'button', :class => "btn btn-lg btn-info", :onclick => "location.href = '#{}'" %>
  <% end %>!
</div>
<div class="container">
</div>
