<div class="index-container container">
  <div class="well text-center"><h1>Check out local businesses near you!</h1></div>
  <div class="panel panel-default">
    <div class="panel-body tag-body">
      <div class="tag-cloud">
        <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class  %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="companies" class="transitions-enabled">
    <% @companies.each do |company| %>
      <div class="box panel panel-default">
        <%= link_to (image_tag company.image.url(:large)), company %>
        <h2 class="panel-body text-center"><%= link_to company.company_name, company %></h2>
        <h4 class="tagline text-center"><%= company.tagline %></h4>
      </div>
    <% end %>
  </div>
</div>
