<h1>All Companies</h1>
<div class="container">
  <% @companies.each do |company| %>
    <div class="company-thumbnail"><%= image_tag company.image.url(:thumb) %></div>
    <div class="company-name"><%= company.company_name %></div>
    <div class="tagline"><%= company.tagline %></div>

  <% end %>
</div>
