<div class="container">
  <div id="companies" class="transitions-enabled">
    <% @companies.each do |company| %>
      <div class="box panel panel-default">
        <%= link_to (image_tag company.image.url(:large)), company %>
        <h2 class="panel-body text-center"><%= link_to company.company_name, company %></h2>
        <h4 class="tagline text-center"><%= company.tagline %></h4>
      </div>
    <% end %>
  </div>
</div>
