/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  font-family: 'Karla', sans-serif;
}

.show-container {
  margin-top: 3em;
}

.main-header {
  background-image: image-url('city.jpeg');
  background-size: cover;
  height: 100vh;
  color: white;
  margin-bottom: 0;
}

.main-header h1{
  margin-top: 3em;
}

.main-nav {
  // background-color: rgb(66, 66, 66);
  border-radius: 0px;
  margin-bottom: 0;
}

.show-header {
  margin-bottom: 3em;
  padding-bottom: 3em;
}

.show-header {
  margin-top: 3em
}

.company-image {
  margin-right: 4em;
}

.company-image img{
  border-radius: 7px;
}

.company-image-field{
  margin: 1em auto;
}

.company-name h1{
  font-size: 5em;
  margin-top: 0;
}

.company-tagline {
  font-size: 2.5em;
  padding-left: 0.5em
}

.company-taglist {
  margin-left: 0.3em;
}

.email h4{
  font-size: 2em;
  display: inline-block;
}

.email p {
  font-size: 1.4em;
  margin-left: 0.5em;
  display: inline-block;
}

.panel-body {
  padding-top: 5px;
}

.company-hour {
  display: inline-block;
}

.panel-heading {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  text-align: center;
}

.panel-heading p{
  font-size: 1.8em;
  margin: 0;
}

.panel-body {
  height: 14em;
}

.panel-body p {
  font-size: 1.25em;
  margin-top: 8px;
  // display: inline-block;
}

.panel-body a {
  color: gray;
}

.panel-body h4 {
  font-size: 1.5em;
  margin-right: 0.4em;
}

.panel-body hr {
  margin-top: 14px;
  margin-bottom: 14px;
}

.company-about p{
  font-size: 1.2em;
}

.alert {
  margin-bottom: 0;
}

.alert p {
  margin: 0 0 1px;
}

.index-container {
  margin-top: 2em;
}

#companies {
  margin: 0 auto;
  width: 100%;
}

#companies .panel-body {
  height: 2em;
}

#companies h2 {
  font-size: 1.7em;
}

#companies a {
  color: #333;
  text-decoration: none;
}

#companies h4 {
  font-size: 1.2em;
  color: #777;
}

.tagline {
  margin-top: 0.2em;
}

.box {
  max-width: 240px;
  margin: 10px;
  border-radius: 7px;
  // box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22)
}

.box img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.tag-body {
  height: auto;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.delete-button {
  width: 50%;
  margin: 1em auto;
}

/************************** Form **************************/
.custom-form {
  padding: 2em;
  margin-top: 2em;
}

.custom-form .field {
  padding-bottom: 2em;
}

.custom-form .btn{
  background-color: #0288D1;
  color: #fff;
  margin: 1em 0;
}

.form-days .form-hours{
  display: inline-block;
}

/************************** Table **************************/

.table h6 {
  margin: 0;
}
